/* stylisation connexion admin*/

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: -10px;
    background-color: #FFFFFF;
    font-family: "Open Sans";
}